* {
  margin: 0;
  padding: 0;
}
body {
  /* google font */
  font-family: "Poppins", sans-serif;
}

header {
  max-width: 1320px;
  margin: 0 auto;
}
main {
  max-width: 1320px;
  margin: 0 auto;
}

/* --- Shared --- */

/* primary color */
.primary-color {
  color: #f00;
}
.btn-style {
  border-radius: 8px;
  background: #f00;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
}

/* banner styles */
.banner {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Banner.png");
  background-position: center;
  height: 600px;
  background-size: cover;
  border-radius: 16px;
  margin-top: 60px;
}
.banner-greeting {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  padding-top: 180px;
  margin-bottom: 0px;
}

.banner-title {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  margin-top: 0px;
}

/*-------- main section styles -------- */

/* discount section */
.discount {
  text-align: center;
  margin-top: 120px;
}
.discount-heading {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}
.discount-title {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
}
.discount-categories {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 48px;
}

/* welcome party section */
.welcome-party {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  background-position: center;
  height: 600px;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  margin-top: 120px;
}
.welcome-content {
  width: 50%;
}
.welcome-title {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 24px;
}
.welcome-description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
}
.welcome-button {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-top: 32px;
  text-transform: uppercase;
}
.welcome-frame {
  width: 320px;
}

/* Event Styles */
.event-container {
  margin-top: 120px;
  margin-bottom: 120px;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px 320px;
}
.event-text {
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 60px;
  margin-bottom: 48px;
}

/* Offer Styles */
.offer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 120px;
  align-items: center;
  /* gap: 80px; */
}

.offer-circle {
  margin-left: 60px;
}

.offer-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
}
.offer-heading {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 22px;
}

.offer-date {
  margin-left: 120px;
  margin-top: 50px;
}

.offer-circle {
  width: 450px;
  height: 450px;
  position: relative;
  border-radius: 463px;
  border: 15px solid #f00;
}
.offer-circle > img {
  position: absolute;
  top: 45px;
  left: 45px;
}
.offer-date-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 0px;
}

#offer-date-details {
  margin-top: 0px;
  margin-bottom: 43px;
}

.offer-description,
.offer-date-description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
}

/* Holiday Styles */
.holiday-container {
  text-align: center;
  margin-bottom: 120px;
}
.holiday-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
}
.holiday-heading {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 28px;
  margin-top: 0px;
}
.holiday-description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 500;
  width: 1068px;
  text-align: center;
  margin: 0 auto;
}

.holiday-reward-box {
  margin-top: 64px;
  text-align: right;
}

.holiday-display-img {
  position: relative;
}
.holiday-display-discount {
  position: absolute;
  right: 27%;
  margin-top: 70px;
}

.holiday-reward-background {
  background-image: url("../images/Rectangle\ 2.png");
  background-position: center;
  background-image: cover;
  height: 230px;
  margin-top: -6px;
  text-align: start;
}
.holiday-reward-background > img {
  margin-top: -350px;
  margin-left: 20px;
}

/* Portfolio Styles */
.portfolio {
  margin-bottom: 120px;
}
.portfolio-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.portfolio-heading {
  font-size: 48px;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 22px;
}

.portfolio-description {
  font-size: 20px;
  font-weight: 400;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  margin-top: 48px;
}

/* Newsletter Styles */
.newsletter {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  text-align: center;
  padding: 80px 200px;
  margin-bottom: 120px;
}
.newsletter-title {
  font-size: 48px;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 22px;
}
.newsletter-description {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
}

.input-button {
  margin-top: 48px;
}

#search-input {
  width: 400px;
  height: 72px;
  border-radius: 50px 0px 0px 50px;
  border: none;
  background: #fff;
  color: black;
  font-size: 18px;
  font-weight: 400;
  color: rgba(7, 2, 17, 0.3);
  padding: 0 230px 0 30px;
}

#search-input:focus {
  outline: none;
}

#search-button {
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  width: 210px;
  height: 72px;
  border: none;
  font-size: 20px;
  font-family: 600;
  color: #fff;
  margin-left: -2px;
}

/* Footer Styles */
footer {
  background: #070211;
  width: 100%;
  height: 609px;
  color: white;
  text-align: center;
}

.footer-address-container {
  max-width: 1320px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

.footer-address-container hr {
  height: 2px;
  background: rgba(255, 255, 255, 0.15);
}

.footer-address-area {
  padding-top: 120px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.footer-contact-icon {
  margin-right: 16px;
}

.footer-social {
  margin: 48px 0;
}
.footer-social > img {
  margin-left: 24px;
}

.footer-rights {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.footer-rights-unsubscribe a {
  text-decoration: none;
  color: white;
}
